body {
	font: 14px "lucida grande", tahoma, verdana, arial, sans-serif;
	color: #014;
}
#ichat-pic {
	float: right;
	margin: -.4em 1.5em 0 .5em;
}
#store-pic {
	float: left;
	margin: .2em 1.5em 0 .5em;
}
#heading {
	display: inline-block;
	text-align: left;
}
h1 {
	color: #027;
}
#instructions {
	color: #667;
	font-size: .9em;
}
ul {
	list-style-type: none;
	margin: 1em 0 0;
	padding: 0;
	line-height: 0;
}
li {
	display: inline-block;
	border: 1px solid black;
	padding: 3px;
	margin: -1px -1px 0 0;
	text-align: center;
}
li.online {
	background-color: #0f0;
}
li img {
	display: block;
	margin: auto;
	opacity: .5;
}
li.online img {
	opacity: 1;
}
